.Button {
    background-color: #fa9434;
    font-size: 1rem;
    align-self: center;
    padding: 0 10px;
    margin: 0 2px;
    min-width: 75px;
    border-radius: 0;
    border-color: transparent;
}

.Button:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #eb7b12 !important;
    border-color: transparent;
}

.Button:hover:active {
    background-color: #eb7b12 !important;
}

.Button:active {
    background-color: #eb7b12 !important;
}

.Button:focus {
    background-color: #eb7b12;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}