.NavBar {
    background-color: #ffffff;
    border-bottom: 5px solid #e9e9e9;
}

.NavLink {
    padding: 0 5px;
    font-size: 1.1rem;
}
.NavLinkMain {
    padding: 0 15px;
}

.Active i {
    color: #f0cf36;
}

.LogoText {
    font-family: 'Rajdhani', cursive;
    font-weight: 700;
    color: #414141;
    font-size: 1.75rem;
}

.ToolTip {
    margin-top: 7px;
}
