.Post {
    background-color: #ffffff;
    border-radius: 2px;
    margin-bottom: 40px;
    text-align: center;
}
.Post a {
    color: #414141;
}

.CardBody {
    border: none;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: #e63e20;
}

.Heart:hover {
    color: #414141;
}

.HeartOutline:hover {
    color: #e63e20;
}