* {
    box-sizing: border-box;
    color: #414141;
}

a {
    color: #414141 !important;
}
  
a:hover {
    color: #f0cf36 !important;
    transition: color ease-out 0.25s;
    text-decoration: none !important;
} 
a:hover i {
    color: #f0cf36;
    transition: color ease-out 0.25s;
}
a:hover span {
    color: #f0cf36;
    transition: color ease-out 0.25s;
}
  
i {
    font-size: 1.7rem;
    color: #808080;
    padding: 0 5px;
    vertical-align: middle;
}
  
i:hover {
    color: #f0cf36;
    cursor: pointer;
    transition: color ease-out 0.25s;
}

h1 {
    font-weight: 600!important;
}

.App {
    font-family: 'Jost', sans-serif;
    min-height: 100vh;
    background-color: #fffed0;
}

.LeftPanel {
    position: fixed !important;
    height: 1000px;
}

.FlatBoxBorder {
    border-top: 1px solid #f8f8f8;
    border-left: 1px solid #f1f1f1;
    border-right: 5px solid #c9c9c9;
    border-bottom: 5px solid #e9e9e9;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}