* {
    box-sizing: border-box;
}

a {
    color: #414141;
}
  
a:hover {
    color: #d1d1d1 !important;
    transition: color ease-in-out 0.25s;
    text-decoration: none;
}
  
a:hover i {
    color: #d1d1d1;
    transition: color ease-in-out 0.25s;
}
  
i {
    font-size: 1.1rem;
    color: #414141;
    padding-right: 5px;
    vertical-align: middle;
}
  
i:hover {
    color: #d1d1d1;
    cursor: pointer;
    transition: color ease-in-out 0.25s;
}

.App {
    font-family: 'Jost', sans-serif;
    min-height: 100vh;
    background-color: #fffed0;
}
